/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --border-color: #eeeeee;
  --primary-color: #333333;
  --primary-hover-color: #555555;
}

body.dark-theme {
  --background-color: #121212;
  --text-color: #f5f5f5;
  --border-color: #333333;
  --primary-color: #f5f5f5;
  --primary-hover-color: #cccccc;
}

body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Orbitron', sans-serif;
}
